cldc/*
test
trunk
vectors.bin*
text2vec
bivec
runCLDC
output/*
outputDir/
cldc/data/*
data/*
raw_data_process_cna_cmn/data/*
*compute-accuracy
*distance
*word-analogy
*word2phrase
*word2vec
*.ps
*.out
*.swp
.classpath
.DS*
.cproject
.project
.settings*
# Java
*.class
*.jar
# Compress files
*.gz
*.zip
# Version control
*CVS*
*.svn*
# Latex
*.aux
*.bbl
*.blg
*.dvi
*.log
*.bak
*.o
# Visual studio, C#
*debug*
*Debug*
*.deps*
*ReSharper*
*~
*.ncb
*\#*
*LUONGMINHTHANG*
*resharper*
*.suo
# Tmp files
*archive*
*tmp*
*nohup.out*
# New additions
.mypy_cache/
corpora/*
embeddings/*
*.log*
#python
data/cna_cmn/.ipynb_checkpoints/*
data/cna_cmn/.ipynb_checkpoints/extract_test_case.py-checkpoint.ipynb
*checkpoint.ipynb
